/*no change*/
@import url(http://fonts.googleapis.com/css?family=Nunito);

html {
  height: 100%;
  /*without overflow, it just screws up all the slides*/
  overflow: hidden;
}

body { 
  /*no change*/
  margin:0;
  /*no change*/
  padding:0;
  /*without perspective, second and fourth slide aren't parellax*/
  perspective: 1px;
  /*no change*/
  transform-style: preserve-3d;
  height: 100%;
  /*no change*/
  overflow-y: scroll;
  /*without overflow x, it scrolls to right on phone*/
  overflow-x: hidden;
  font-family: Nunito;
}

h1 {
   font-size: 250%;
   font-family: 'Doppio One', sans-serif;
   color: black;
}

p {
  font-size: 155%;
  /*no change*/
  line-height: 150%;
  color: black;
}

h4{
  font-family: 'Doppio One', sans-serif;
  color: black;
  background: rgba(260,230,220, .6);
  padding: 5px 5px 5px 5px;
  border-radius: 40px;
}

/*start of hamburger code*/
*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
a{
  text-decoration:none;
}
#sidebar{
  position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    left: -250px;
    height: 100%;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    background:#292929;
    color:#f1f2f3;
    padding-top:0px;

}
#sidebar.active{
  -webkit-transform: translate(250px, 0px);
    -moz-transform: translate(250px, 0px);
    -o-transform: translate(250px, 0px);
    -ms-transform: translate(250px, 0px);
    transform: translate(250px, 0px);
}
#content{
  position: relative;
  -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
  padding-left:10%;
  padding-right:10%;
}
#content.active{
  -webkit-transform: translate(250px, 0px);
    -moz-transform: translate(250px, 0px);
    -o-transform: translate(250px, 0px);
    -ms-transform: translate(250px, 0px);
    transform: translate(250px, 0px);
}

.stuck-head{
  position: fixed;
  right: 0;
  left: 0;
  top:0;
  z-index: 1030;
  margin-bottom: 0;
}
.nav-btn{
  position: absolute;
  top: 15px;
  left: 20px;
  height: 50px;
  width: 50px;
  background: url('http://i.imgur.com/DY8ozqQ.png') rgba(0,0,0,0.3) no-repeat;
  background-position: center center;
  background-size: 50%;
  opacity: 0.9;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav-btn.active{
  background: url('http://i.imgur.com/fbhO5yG.png') rgba(255,255,255,0.3) no-repeat;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
  border-radius:50%;
  background-position: 50% 50%;
}
.nav-btn span{
  display:none;
}
.navigation{
  width:100%;
  box-shadow:inset 0px 0px 10px rgba(0,0,0,0.7);
}
.navigation ul{
  list-style:none;
  background:#535353;
  width:100%;
  margin:0;
  padding-top:100px;
  padding-left:0;
}
.navigation ul li{
  padding-top:5px;
  padding-left:1em;
  padding-bottom:5px;
  border-bottom:1px solid #f1f2f3;
  font-size: 1.5em;
}
.navigation ul li a{
  color:white;
  text-shadow:0px 0px 10px rgba(0,0,0,0.8);
  text-decoration:none;
}
.navigation ul li a:hover{
  background:#FFF;
  width:80%;
  color:black;
  border-radius:5px;
  padding:5px 10px;
}
#header .logo img{
  margin:10px auto;
  display:block;
}
#footer{
  text-align:center;
}
/*end of hamburger code*/

.slide {
  /*without positive, slide 4 isn't appearing and slide 2 is fading away*/
  position: relative;
  /*without padding, text isn't centered*/
  padding: 25vh 10%;
  /*sets the minumum height each slide can be*/
  min-height: 100vh;
  width: 100vw;
  /*no change*/
  box-sizing: border-box;
  /*no change*/
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  /*no change*/
  transform-style: inherit;
}

img {
  text-align: center;
  margin-top: 50px;
}

.slide:before {
  /*without any of the below, slide 2 and 4 aren't appearing*/
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {
  text-align: center;
  background: rgba(260,230,220, .6);
  padding: 5px 5px 5px 5px;
  border-radius: 40px;
}

.slide:nth-child(2n) .title {
  /*no change*/
  margin-left: 0;
  /*no change*/
  margin-right: auto;
} 

.slide:nth-child(2n+1) .title {
  /*no change*/
  margin-left: auto;
  /*no change*/
  margin-right: 0;
}

.slide, .slide:before {
  /*repeats smaller pictures*/
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
}

#title {
  background-image: url("img/DisneyLobby1.jpg");
  background-attachment: fixed;  
}

#slide1:before {
  background-image: url("img/IMG_2312.JPG");
  /*without transform, second slide isn't parellax*/
  transform: translateZ(-1px) scale(2);
  /*without index, second slide overlaps first slide*/
  z-index:-1;
}

#slide2 {
  background-image: url("img/DisneyOffice2.jpg");
  background-attachment: fixed;
}

#slide3:before {
  background-image: url("img/wall and waiting.jpg");
  max-height: 125vh;
  /*without transform, last slide isn't parellax*/
  transform: translateZ(-1px) scale(2);
  /*without index, last slide overlaps third slide*/
  z-index:-1;
}

@media screen and (max-width: 959px) {
  #title {
    width: 100%;
  }
  .slide {
    width: 100%;
  }  
  img {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  #title {
    width: 100%;
  }
  .slide {
    width: 100%;
  }  
  img {
    width: 100%;
  }
}